.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: $s-size 0;
}

.header__item {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.header__divider {
  display: flex;
  flex: 1;
}

.header__item__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
  h3 {
    font-size: $font-size-large;
    font-weight: 300;
    margin: 0 $l-size;
  }
}

