// Colors
$dark-grey: #333;
$grey: #666;
$blue: rgb(12, 138, 223);
$dark-blue: #364051;
$off-white: #f7f7f7;
$powder-blue: #c4d4e0;
$nantucket: #9aabb9;
$apricot: #e2b49a;
$jasmine: #e9c77b;
$ink: #193446;
$red: #B5354A;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;